.title-img {
  margin-left: auto;
  width: 150px;
  height: 80px;
}
body {
  padding: 0;
  margin: 0;
  width: 100%;
}
.main-box {
  /* position: relative; */
  max-width: 1100px;
  height: 100vh;
  margin: 0 auto;
}
.title {
  /* width: 1100px; */
  height: 90px;
  font-size: xx-large;
  margin-left: auto;
  /* text-align: center; */
  line-height: 70px;
  background-color: black;
}
.agree {
  display: flex;
}
.agreelist {
  background-color: rgb(227, 227, 227);
  height: 100vh;
  width: 300px;
}
.al {
  margin: 10px auto 0;
  width: 280px;
  height: 200px;
  background-color: white;
  border-radius: 10px;
}

.content {
  background-color: white;
  height: 100vh;
  width: 800px;
  border: 1px solid rgb(158, 158, 158);
}

#user_agree,
#post_agree,
#chat_agree {
  font-size: x-large;
  color: rgb(158, 158, 158);
  margin-left: 20px;
  padding-top: 25px;
  font-weight: 600;
  cursor: pointer;
}

#user_agree:hover,
#post_agree:hover,
#chat_agree:hover {
  color: black;
}

#tab_title {
  width: 780px;
  height: 10%;
  background-color: rgb(208, 208, 208);
  color: rgb(63, 130, 201);
  padding-left: 20px;
  line-height: 70px;
  font-size: larger;
  font-weight: 600;
}

#main_content {
  width: 750px;
  /* border: 1px solid black; */
  height: 90%;
  margin: 0 auto;
}

.tb {
  border: 1px solid black;
  border-collapse: collapse;
  /* margin: 0 auto; */
}
.num,
.age {
  width: 50px;
  height: 40px;
  text-align: center;
  border: 1px solid black;
}
.user_id,
.gender,
.role,
.nickname {
  width: 120px;
  text-align: center;
  border: 1px solid black;
}
.gender,
.role {
  width: 90px;
}

.accept,
.reject {
  margin-left: 10px;
  margin-top: 11px;
  width: 75px;
  height: 25px;
  background-image: url("../../backend/img/accept.jpg");
  background-size: contain;
  border: 0;
  background-repeat: no-repeat;
}
.reject {
  background-image: url("../../backend/img/reject.jpg");
}
