.title-img {
  margin-left: auto;
  width: 150px;
  height: 80px;
}
#isLoading{
  background-color: white;
  width: 100%;
  height: 100%;
  position: fixed;
  top :0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
#isLoading img{
  width: 300px;
}
#isLoading.disable{
  display : none;
}
body {
  padding: 0;
  margin: 0;
  width: 100%;
}
.main-box {
  /* position: relative; */
  max-width: 1100px;
  height: 100vh;
  margin: 0 auto;
}
.title {
  /* width: 1100px; */
  height: 90px;
  font-size: xx-large;
  margin-left: auto;
  /* text-align: center; */
  line-height: 70px;
  background-color: black;
}
.agree {
  display: flex;
}
.agreelist {
  background-color: rgb(227, 227, 227);
  height: 800px;
  width: 300px;
}
.al {
  margin: 10px auto 0;
  width: 280px;
  height: 200px;
  background-color: white;
  border-radius: 10px;
}

.content{
    background-color: white;
    height: 800px;
    width: 800px;
    border: 1px solid rgb(158, 158, 158);
    position: relative;


}
.userClick{
  position: relative;
}
#user_agree,
#post_agree,
#chat_agree {
  font-size: x-large;
  color: rgb(158, 158, 158);
  margin-left: 20px;
  padding-top: 25px;
  font-weight: 600;
  cursor: pointer;
}

#user_agree:hover,
#post_agree:hover,
#chat_agree:hover {
  color: black;
}

#tab_title {

  width: 780px;
  height: 10%;
  background-color: rgb(208, 208, 208);
  color: rgb(63, 130, 201);
  padding-left: 20px;
  line-height: 70px;
  font-size: larger;
  font-weight: 600;
}

#main_content,
#main_content3 {
  width: 750px;
  /* border: 1px solid black; */
  height: 90%;
  margin: 0 auto;
}
#main_content3{
  width: 800px;
  height: 690px;
  /* border: 1px solid red; */
}

#chat_list{
  width: 390px;
  height: 100%;
    /* border: 1px solid blue; */
}
#chat_list li{
  list-style-type: none;
  width: 388px;
  height: 50px;
  border: 1px solid gray;
  margin-left: -40px;
  text-align: center;
  

}
#chat_list > span{
  line-height: 50px;
}
#chat_room{
  position: relative;
  width: 408px;
  height: 697px;
  border: 1px solid blueviolet;
  border-radius: 10px;

  border: 1px solid border;
}

#who_room{
  width: 100px;
  height: 30px;
  /* border: 1px solid black; */
  margin: 0 auto;
  text-align: center;
  line-height: 30px;

}

.zeroCnt{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 5%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: red;
  color: white;
  line-height: 50px;
  
}
.tb {
  border: 1px solid black;
  border-collapse: collapse;
  /* margin: 0 auto; */
}
.num,
.age {
  width: 50px;
  height: 40px;
  text-align: center;
  border: 1px solid black;
}
.user_id,
.gender,
.role,
.nickname {
  width: 120px;
  text-align: center;
  border: 1px solid black;
}
.gender,
.role {
  width: 90px;
}

.accept,.reject{
    margin-left: 10px;
    margin-top: 11px;
    width: 75px;
    height: 25px;
    background-image: url("http://13.209.64.80/img/accept.jpg");
    background-size:  contain;
    border: 0;
    background-repeat: no-repeat;
}
.accept2,.reject2{
    margin-left: 10px;
    margin-top: 11px;
    width: 75px;
    height: 25px;
    background-image: url("http://13.209.64.80/img/accept.jpg");
    background-size:  contain;
    border: 0;
    background-repeat: no-repeat;
}
.reject{
    background-image: url("http://13.209.64.80/img/reject.jpg");
}
.reject2{
    background-image: url("http://13.209.64.80/img/reject.jpg");
}


.book_img{
    width: 250px;
    height: 300px;
    text-align: center;


}
.book_img img{
    width: 200px;
    height: 200px;
}
#main_content2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.book_title{
    width: 250px;
    height: 50px;
    text-align: left;
}

#reject_reason{
    /* width: 800px;
    height: 670px; */
    width: 400px;
    height: 200px;
    border: 1px solid black;
    border-radius: 30px;
    position: absolute;
    top:300px;
    left: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(75, 75, 75, 0.733);
}
#reject_reason input{
    width: 300px;
    height: 30px;
    border: 1px solid blue;
    
}

#reject_reason label{
    color : white
}
